<%- include("partials/header") %>

<section class="narrow-panel">
  <h1><%= pageTitle %></h1>
  <%- include("partials/errors") %>
  <p><a href="/">Return home</a></p>
</section>

<%- include("partials/footer") %>
